<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>La formule de la semelle est utile pour calculer l’aire d’un polygone simple en fonction de ses sommets.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Assurez-vous que les coordonnées sont listées dans un ordre cohérent (soit dans le sens horaire, soit dans le sens antihoraire).</string>
        </dict>
    </array>
</dict>
</plist>