<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Usa un contador para realizar un seguimiento de los paréntesis abiertos.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Si encuentras un paréntesis de cierre `)` cuando no hay paréntesis abiertos para emparejar, la cadena está desbalanceada.</string>
        </dict>
    </array>
</dict>
</plist>
