<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Verwenden Sie `lowercased()`, um den Vergleich nicht zwischen Groß- und Kleinschreibung zu unterscheiden.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Erwägen Sie die Verwendung von `filter`, um nicht-alphanumerische Zeichen zu entfernen.</string>
        </dict>
    </array>
</dict>
</plist>