<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>欧几里得算法是计算 GCD 的高效方法。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>请记住，`gcd(a, 0) = a`。</string>
        </dict>
    </array>
</dict>
</plist>
