<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Design Patterns</string>
	<key>Pages</key>
	<array>
        <string>What's a design pattern.cutscenepage</string>
	</array>
</dict>
</plist>
