<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>假设第一个字符串是公共前缀，并在与每个后续字符串比较时逐步缩短。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>如果公共前缀变为空字符串，提前停止。</string>
        </dict>
    </array>
</dict>
</plist>
