<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Use a counter to keep track of open parentheses.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>If you encounter a closing parenthesis `)` when there are no open parentheses to match, the string is unbalanced.</string>
        </dict>
    </array>
</dict>
</plist>
