<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>El algoritmo de Euclides es eficiente para calcular el MCD.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Recuerda que `gcd(a, 0) = a`.</string>
        </dict>
    </array>
</dict>
</plist>
