<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Utilisez un dictionnaire pour associer chaque caractère romain à sa valeur entière.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Prenez en compte les cas où un chiffre plus petit précède un chiffre plus grand, indiquant une soustraction.</string>
        </dict>
    </array>
</dict>
</plist>