<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>すでに追加された文字を追跡するために `Set` を使用します。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>または、`filter` を使用してユニークな文字だけを含む新しい文字列を作成します。</string>
        </dict>
    </array>
</dict>
</plist>
