<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Use a `Set` to keep track of numbers you’ve seen to detect cycles.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>The process is likely to enter a cycle if it does not reach 1 after several steps.</string>
        </dict>
    </array>
</dict>
</plist>
