<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>考虑对数组进行排序，然后访问倒数第 K 个元素。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>为了提高效率，可以使用最小堆或快速选择算法。</string>
        </dict>
    </array>
</dict>
</plist>
