<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Use orientation checks to determine the relative direction of points.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>The segments intersect if one segment “straddles” the endpoints of the other segment.</string>
        </dict>
    </array>
</dict>
</plist>
