<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>从 0 和 1 作为前两项开始。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>为了提高效率，尽量使用迭代方法。</string>
        </dict>
    </array>
</dict>
</plist>
