<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Verwenden Sie Rekursion oder eine Schleife, um die Fakultät zu berechnen.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Denken Sie daran, dass `0! = 1` per Definition ist.</string>
        </dict>
    </array>
</dict>
</plist>