<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>将整数转换为字符串以便访问每个数字，或者使用取模 `%` 和除法 `/` 提取数字。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>如果需要，记得处理负数的情况。</string>
        </dict>
    </array>
</dict>
</plist>
