<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Comienza asumiendo que la primera cadena es el prefijo común y redúcelo a medida que compares con cada cadena subsiguiente.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Detén el proceso temprano si el prefijo común se convierte en una cadena vacía.</string>
        </dict>
    </array>
</dict>
</plist>
