<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>各桁に簡単にアクセスするため、整数を文字列に変換します。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>各桁を桁数分の指数で累乗するには `pow` 関数を使用します。</string>
        </dict>
    </array>
</dict>
</plist>
