<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>此算法仅适用于已排序的数组。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>使用循环或递归将数组分成两部分，每次减少搜索范围。</string>
        </dict>
    </array>
</dict>
</plist>
