<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Calculez d'abord le PGCD, puis utilisez-le pour déterminer le PPMC.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Si l'un des nombres est zéro, le PPMC est égal à zéro.</string>
        </dict>
    </array>
</dict>
</plist>