<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Usa un diccionario para contar las ocurrencias de cada carácter.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Maneja los casos donde se deban ignorar espacios o signos de puntuación, si es necesario.</string>
        </dict>
    </array>
</dict>
</plist>
