<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Convierte el número entero a una cadena para acceder fácilmente a cada dígito.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Utiliza la función pow para calcular cada dígito elevado a la potencia del total de dígitos.</string>
        </dict>
    </array>
</dict>
</plist>
