<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Commencez par supposer que la première chaîne est le préfixe commun, et raccourcissez-le au fur et à mesure que vous le comparez à chaque chaîne suivante.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Arrêtez-vous dès que le préfixe commun devient une chaîne vide.</string>
        </dict>
    </array>
</dict>
</plist>