<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Der euklidische Algorithmus ist effizient zur Berechnung des GCD.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Denken Sie daran, dass `gcd(a, 0) = a` gilt.</string>
        </dict>
    </array>
</dict>
</plist>