<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Verwenden Sie `components(separatedBy: " ")`, um die Zeichenkette aufzuteilen, und `joined(separator: " ")`, um sie wieder zusammenzusetzen.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Verwenden Sie `capitalized` auf jedem Wort, um den ersten Buchstaben einfach großzuschreiben.</string>
        </dict>
    </array>
</dict>
</plist>
