<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Use `lowercased()` to make the comparison case-insensitive.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Consider using `filter` to remove non-alphanumeric characters.</string>
        </dict>
    </array>
</dict>
</plist>
