<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Utilisez des vérifications d’orientation pour déterminer la direction relative des points.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Les segments s’intersectent si l’un des segments "croise" les extrémités de l’autre segment.</string>
        </dict>
    </array>
</dict>
</plist>