<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Le tri à bulles a une complexité en temps de `O(n²)`, il peut donc être lent pour de grands tableaux.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Utilisez un indicateur pour suivre si un passage dans le tableau a effectué des échanges, vous permettant d'arrêter tôt si le tableau est déjà trié.</string>
        </dict>
    </array>
</dict>
</plist>