<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Sorting and Searching</string>
	<key>Pages</key>
	<array>
		<string>Binary Search.playgroundpage</string>
		<string>Bubble Sort.playgroundpage</string>
		<string>Selection Sort.playgroundpage</string>
		<string>Merge Sort.playgroundpage</string>
		<string>Quick Sort.playgroundpage</string>
	</array>
</dict>
</plist>
