<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Classes</string>
	<key>Pages</key>
	<array>
		<string>Creating your own classes.playgroundpage</string>
		<string>Class inheritance.playgroundpage</string>
		<string>Overriding methods.playgroundpage</string>
		<string>Final classes.playgroundpage</string>
		<string>Copying objects.playgroundpage</string>
		<string>Deinitializers.playgroundpage</string>
		<string>Mutability.playgroundpage</string>
		<string>Classes summary.playgroundpage</string>
	</array>
</dict>
</plist>
