<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>数値を8で繰り返し割り、その余りを追跡するためにループを使用します。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>前の課題と同様に、Swiftでは `String(number, radix: 8)` を使用してこの変換を行うことができますが、最初に変換ロジックを手動で実装してみてください。</string>
        </dict>
    </array>
</dict>
</plist>
