<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Beginnen Sie damit, die erste Zeichenkette als gemeinsames Präfix anzunehmen, und kürzen Sie sie, während Sie mit jeder nachfolgenden Zeichenkette vergleichen.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Beenden Sie frühzeitig, wenn das gemeinsame Präfix ein leerer String wird.</string>
        </dict>
    </array>
</dict>
</plist>