<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Usa un diccionario para mapear cada carácter romano a su valor entero.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Presta atención a los casos en los que un numeral menor precede a uno mayor, lo que indica una resta.</string>
        </dict>
    </array>
</dict>
</plist>
