<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Verwenden Sie verschachtelte Schleifen, um jede Teilzeichenkette mit dem Rest der Zeichenkette zu vergleichen.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Erwägen Sie die Verwendung eines `Set`, um bereits gesehene Teilzeichenketten zu speichern.</string>
        </dict>
    </array>
</dict>
</plist>