<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>使用 `Set` 来跟踪每个数组中的唯一值，然后找到它们的交集。</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>或者，使用 `filter` 和 `contains` 方法来识别公共元素。</string>
        </dict>
    </array>
</dict>
</plist>
