<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>Usa `lowercased()` para que la comparación no distinga entre mayúsculas y minúsculas.</string>
        </dict>
        <dict>
            <key>Content</key>
            <string>Considera usar `filter` para eliminar caracteres no alfanuméricos.</string>
        </dict>
    </array>
</dict>
</plist>
